
.logo img{
 display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 75%;
}
.nav{
background-color: black;
line-height: 50px;
}
.nav a{
    text-decoration: none;
    margin-left: 50px;
    padding: 10px;
    font-weight: 500;
    font-size: large;
    color: white;
}
.nav a:hover{
    background-color: gray;
    color: blue;
}
.body-info{
    background-color: peachpuff;
    border: 2px solid gray;
}